.landing {
    color: #ffffff;
    height: 100%;
    position: relative;
    font-family: 'Raleway', sans-serif;

    &_right-triangle {
        width: 17%;
        height: 0%;
        border-top:100vh solid rgba(0, 0, 0, 0.4);
        border-right: 45vw solid transparent;
    }

    &_left-triangle {
        width: 17%;
        height: 0%;
        border-bottom: 100vh solid rgba(0, 0, 0, 0.75);
        border-left: 55vw solid transparent;
    }

    .absolute-center {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
        bottom: 0;
        right: 0;
        max-width: 800px;
        max-height: 400px;
        z-index: 2;
    }

    .bg-overlay {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.78);
    }

    .united {
        color: #ffffff;
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
    }

    .swing-state {
        font-size: 3rem;
        font-weight: 200;
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
        background: -webkit-linear-gradient(45deg, red, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .subtext {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        padding-bottom: 4rem;
    }

    .enter {
        text-align: center;
        &_button {
            color: white;
            background: #a2005c;
            padding: 1rem 4rem;
            font-size: 1.3rem;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                background: rgba(162, 0, 92, 0.72);
            }
        }
    }
}
