.winners {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	//&:before {
	//	position: absolute;
	//	display: block;
	//	content: '';
	//	background: red;
	//	height: 4px;
	//	width: 100%;
	//	top: 50px;
	//}

	&_block {
		color: #fff;
		&_year {
			text-align: center;
			margin-bottom: 10px;
			font-weight: 700;
		}
	}
}