.candidat {
	color: white;
}

.candidat-lists {
	display: flex;
	align-items: center;

	&_hr {
		margin: 0 2rem;
		height: 3rem;
		border: none;
		width: 5px;
		background: linear-gradient(to bottom,
				#aa2222 23%, #2989d8 53%, #0082e5 61%,
				#0082e5 61%, #207cca 62%, #207cca 62%,
				#2989d8 63%, #2989d8 63%, #0082e5 64%,
				#0082e5 64%, #2989d8 66%, #2989d8 66%,
				#0082e5 68%, #2989d8 81%, #007ac6 99%);
	}
}

.president {
	&_img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
}