.candidat {
	color: white;
}

.candidat-lists {
	display: flex;
	align-items: center;

	&_hr {
		margin: 0 2rem;
		height: 3rem;
		border: none;
		width: 5px;
		background-image: linear-gradient(to left, #14a8cc 0%, #1ee9f1 100%);
	}
}

.president {
	&_img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		&:nth-child(1) {
		}
	}
}

.candidat-lists .president img {
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}