.profile {
	color: #ffffff;

	.header {
		text-align: center;
		padding-bottom: 2rem;
		padding-top: 2rem;

		&_img {
			border-radius: 50%;
			width: 250px;
			height: 250px;
		}
	}

	&_title {
		text-align: center;
		font-size: 4rem;
		font-weight: bold;
		padding-bottom: 2rem;
	}

	&_slogan {
		text-align: center;
		font-size: 2.4rem;
		font-weight: 600;
		padding-bottom: 2rem;
		color: #D82634;
	}

	.informations {

		max-width: 1200px;
		margin: 0 auto;
		display: flex;

		&_block {
			max-width: 50%;
			padding: 1rem;

			&_title {
				font-size: 1.7rem;
				color: #d82634;
				font-weight: 900;
				margin-bottom: 2rem;
				position: relative;

				&:before {
					position: absolute;
					content: "";
					width: 2rem;
					height: 3px;
					left: 0;
					top: 39px;
					background: #d82634;
				}
			}


			&_hr {
				max-width: 2rem;
			}
		}

	}

	.keyevents {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1rem 4rem;

		&_title {
			text-align: center;
			font-size: 3rem;
			font-weight: 900;
			text-transform: uppercase;
			margin: 4rem 0 2rem;
			background: linear-gradient(to right, #D91044, #D9392B );
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		&_hr {
			max-width: 9rem;
			height: 7px;
			background: linear-gradient(to right, #D91044, #D9392B);
			border: none;
			margin-bottom: 2rem;
		}

		&_block {
			display: flex;
			&_content {
				max-width: 50%;
				&_title {
					text-transform: uppercase;
					font-size: 2.5rem;
					background: linear-gradient(to right, #D91044, #D9392B);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					padding-bottom: 1rem;
				}

				&_text {
					padding-left: 4rem;
				}
			}
		}
	}
}